body {
   
}
#container1{
    text-align: center;
    margin-left: 20px; margin-right: 5%;
    margin-top: 35px;
}

#text1{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

#img1{
    width: 1200px;
    height: 700px;
}

#about-us{
    text-align: center;
    margin-top: 500px;
    font-weight: bolder;
    text-shadow: 10px;
    color: rgb(161, 252, 153);
    font-size: 65px;
    
}

#text-produce{
    font-weight: bolder;
    font-size: 25px;
    color: rgb(204, 8, 8);
    text-align: right;
}