.CATEGORY{
    margin-top: 100px;
}
/*.hide{
    display: none;
  }
  */
  .hide-menu-image{
    cursor: pointer;
  }
  .hide-menu-image:hover{
    opacity: 0.6;
  }
  nav:hover{
      background-color: aqua;
  }
  .page-footer img{
    display: inline;
    width: 10%;
    padding-right: 30px;
  }
  .orange{
    color: blue;
}
p a{
    text-decoration: none;
}